<!DOCTYPE html>
<html lang="en">
<head>
    <title>LOGIN</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
</head>
<body> 
    <div class="login_wrapper">
        <div class="login">
            <h2 class="login__heading">Login</h2>
            <div class="login__google">
                <a href="/auth/google">
                    <span class="blue">Sign In</span>
                    <span class="red">with</span> 
                    <span class="yellow">Google</span>
                    <i class="fab fa-google green"></i>
                </a>

            </div>
           
        </div>
      
    </div>
       
    
</body>

</html>