<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title> 
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <link rel="stylesheet" href="/css/solarized.css">
    <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js" integrity="sha512-MinqHeqca99q5bWxFNQEQpplMBFiUNrEwuuDj2rCSh1DgeeTXUgvgYIHZ1puBS9IKBkdfLMSk/ZWVDasa3Y/2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/5.0.0/autosize.min.js" integrity="sha512-zibtOTbkMuTivXGk5b8yJFGLIB1jF90NuV7gwNcVWL3xZx/I1HdkXU2pCZhadsuaS5HMUzabvRqK4WmWeKrwUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

</head>
<body> 
    <form action= <%=  locals.id ? `/save/?id=${locals.id}` : '/save'%>  method="post">
        <%- include('_buttons.ejs', {hideDublicateButton:true,id:locals.id}) %>
        <div class="wrapper align__top">
            <div id= class="line__numbers">
                &gt;
            </div>
            <textarea name="value" autofocus id="user__document" ><%= locals.code %></textarea>
        </div>
</form>
    
</body>
<script>
    autosize(document.querySelector('textarea'));
</script>

</html>