body{
    background-color: #002b36;
    font-size:1rem;
    margin:0;
    overflow:hidden;
}
button{
    background:transparent;
    border:none;
}
button:hover{
  cursor:pointer;
}
.wrapper{
    display:flex;
    padding: 1rem .5rem;
}

.line__numbers{
    color: #657b83;
    font-weight: 700;
    margin-right: 10px;
  
}
pre{
    margin: 0;
    padding: 0;
}

.button__wrapper{
    position:fixed;
    top:0;
    right:10px;
    color:#fff
}

.button__wrapper > .buttons{
    display:flex;
    justify-content:space-evenly;
    font-size:1.5rem;

}
.button__wrapper{
    opacity:.15;
    transition: opacity .2s ease;
}

.button__wrapper:hover{
    opacity:1;
}

.buttons * >:hover{
    cursor:pointer;
}

.button__wrapper a,
.button__wrapper a:focus,
.button__wrapper a:hover{
    color:#fff;
    text-decoration:none;
}

.new__btn{
    border: none;
    background: #002b36;
    font-size: 21px;
    color:#fff;

}

#user__document{
    width:100%;
    background-color:transparent;
    resize:none ;
    border:none;
    font-size:1.1rem;
    color:#586e75;
    padding: 0;
    min-height:calc( 100vh - 2rem);
    
}

#user__document:focus{
    outline:none;
}

.align__top{
    align-items: baseline;
   
}

.login_wrapper{
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;

}

.login__heading{
    color:#fff;
    font-size:3rem;
}
.login__google a{
    text-decoration:none;  
    letter-spacing:5px;
    font-size:1.7rem;
    display:inline-block;
    border:1px solid #fff;
    padding:5px 15px;
}
.login__google .blue{
    color:#1a73e8;
}
.login__google .red{
    color:#ea4335;
}
.login__google .yellow{
    color:#fbbc05;
}
.login__google .green{
    color:#34a853;
}
.item__right{
    flex: 1 1 75%;
    /* display: flex; */
    padding: 1rem .5rem;
    /* align-items: center; */
}
.item__left{
    flex: 1 1 25%;
    padding:0 1rem;
    border:1px solid #2c3338;
    height: 100vh;
    overflow: overlay;
}
.note__body{
    max-width:230px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.note__list:hover{
    cursor:pointer;    

}

.item{
    display:flex;
    align-items:center;

}
.note__list{
    background: transparent;
    border:none;
    outline: none;
    overflow:hidden;
    color:#fff;
    margin-bottom: 10px;
    display: block;
}
.note{
    padding:10px    

}
.note__title{
    font-size: 1.5rem;
    font-weight: bold;
    font-style:italic;
    display: flex;
}

.simplebar-scrollbar::before {
    background-color: #93a1a1 !important;
  }
  .pin{
      display:flex;
      justify-content:flex-end;
  }
  .pin .pin-inactive{
      color:grey;
  }
  .pin-active{
      color:#fff
  }
.pinIcon{
     display:flex;
     justify-content:flex-end;
}
.pinLabel{
    margin-left:10px;
}